:root {
    font-size: 62.3%;
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}

body {
    max-width: 1440px;
    width: 100%;
    background-color: var(--body-bg-color);
    color: var(--text-color);
    margin: 1rem auto;
    font-family: 'Merriweather Sans', sans-serif;
}

.container {
    width: 100%;
    display: grid;
    grid-template-areas: "aside main";
    grid-template-columns: 42rem 1fr;
}

.aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: top;
}

.main {
    grid-area: main;
    display: flex;
    flex-direction: column;
}

.card {
    background-color: var(--bg-cards);
    border-radius: 2rem;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, .5);
    padding: 1.5rem;
    margin: 1rem;
}

.subtitle {
    font-weight: bold;
    font-size: 2.2rem;
    margin: 1rem;
}

.profile {
    text-align: center;
}

.profile__image {
    border: 2px solid #00FF00;
    margin-top: 3rem;
}

.profile__description p {
    font-size: 1.4rem;
    margin-bottom: 3rem;
}

.photo {
    border-radius: 50%;
    object-fit: cover;
    width: 125px;
    margin-bottom: 1rem;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: underline;
}

.font14 {
    font-size: 1.4rem;
    margin: 3rem 0;
    display: flex;
    align-items: center;
}

.font14 img {
    margin: 0 2.5rem;
}

.pills__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;

}

.pills {
    background-color: var(--bg-techs);
    width: 7.6rem;
    border-radius: 2rem;
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: 1rem 1rem;
    padding: 1rem;
}

.list__items {
    list-style-position: outside;
    list-style-type: disc;
    margin-left: 3rem;
}

.list__title {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 2.5rem 0 0.3rem 0;
}

.list__description {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}

.projects__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.projects__header__link {
    font-size: 1.6rem;
    margin: auto 1rem;
}

.projects__articles__container {
    display: grid;
    grid-template-areas: "a a";
    grid-template-columns: 1fr 1fr;    
}

.projects__articles {
    padding: 2.5rem;
}

.article__title {
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.article__title img {
    margin-right: 1.5rem;
}


.projects__article__description {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    line-height: 2rem;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.classification {
    display: flex;
}

.classification__div {
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    margin-right: 1rem;
}

.classification__div span {
    line-height: 0;
    margin-left: .5rem;
}

.language {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.language span {
    line-height: 0;
    margin-left: .5rem;
}

.posts__article {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.posts__image {
    margin: 2rem;
}

.posts__title {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.posts__date {
    font-size: 1.4rem;
    margin-bottom: 2.5rem;
}

.posts__description {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
}

.posts__list {
    display: flex;
    flex-direction: row;
    font-size: 1.4rem;
    justify-content: left;
}

.posts__list li {
    margin-right: 2rem;
}

.footer {
    width: 100%;
    text-align: center;
    margin: 2rem auto;
    font-size: 1.4rem;
}

.footer strong {
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .projects__articles__container {
        display: flex;
        flex-direction: column;
    }

    .responsive__tablet {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .techs__subtitle {
        text-align: center;
    }

}

@media screen and (max-width: 425px) {
    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    .profile__description p {
        margin-top: 2rem;
    }

    .font14 {
        overflow: hidden;
    }

    .font14 img {
        margin: 0 2rem 0 0;
    }

    .projects__articles__container {
        display: flex;
        flex-direction: column;
    }

    .posts__article {
        display: flex;
        flex-direction: column;
    }

    .posts__list {
        padding-bottom: 1rem;
    }

    .responsive__tablet {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .techs__subtitle {
        text-align: left;
    }
}